<div id="background">
  <div id="magazine">
    <img id="merlion" src="assets/images/merlion.png"/>
    <div id="title">
      <div id="main-title">MONOPOLY</div>
      <div id="caption">FAST PROPERTY TRADING GAME</div>
      <div class="sub-title" id="facts"><a id="link" [routerLink]="['/pages/static']">WHAT FUN FACTS WE HAVE FOUND FROM THE GAME</a></div>
      <div class="sub-title" id="strategy"><a id="link" [routerLink]="['/pages/charts']">HOW WE MANIPULATE THE GAME</a></div>
    </div>
  </div>
</div>