@import '../../@theme/styles/themes';
@include nb-install-component() {
  ngx-chartjs-pie,
  ngx-chartjs-bar,
  ngx-chartjs-line,
  ngx-chartjs-multiple-xaxis,
  ngx-chartjs-bar-horizontal,
  ngx-chartjs-radar {
    display: block;
    height: nb-theme(card-height-medium);
    width: 100%;

    ::ng-deep chart {
      display: block;
      height: 100%;
      width: 100%;
    }
  }

  .circular-monopoly {
    height: 800px;
    width: 1600px;
  }

  .rank-chart {
    height: 600px;
  }

  .select-op {
    text-align: center;
  }

  .margin-left {
    margin-left: 30px;
  }

  .margin-top {
    margin-top: 20px;
  }

  .margin-op {
    margin-top: 10px;
  }

  .warning-txt {
    color: red;
  }

}